@use '../../../shared/scss/_media-queries' as mq;

.my-courses {
	display: flex;
	z-index: 10;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	scroll-snap-align: center;
	flex: none;
	gap: 32px;
	height: 100svh;
	width: 100%;
	@include mq.desktop {
		height: calc(100vh - 32px);
		gap: 64px;
	}
	@include mq.mobile {
		gap: 16px;
	}

	&__top {
		display: flex;
		flex-direction: column;
		gap: 16px;

		&--title {
			color: #feb3bc;
			text-align: center;
			font-family: var(--font-ubuntu-mono), monospace;
			font-size: 18px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
		}

		&--journey {
			color: #fff;
			text-align: center;
			font-family:
				var(--font-open-sans),
				sans-serif;
			font-style: normal;
			font-weight: 800;
			line-height: normal;
			font-size: 24px;
			@include mq.desktop {
				font-size: 48px;
			}
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 32px;
		max-width: 1250px;

		@include mq.mobile {
			gap: 16px;
		}

		&--row {
			display: flex;
			flex-direction: column;
			gap: 16px;
			@include mq.mobile {
				gap: 8px;
			}

			@include mq.desktop {
				display: grid;
				grid-template-columns: 295px 55px 1fr;
				column-gap: 22px;
				row-gap: 32px;
			}
			&:not(:last-child) {
				.my-courses__content--row__center {
					display: none;
					@include mq.desktop {
						display: block;
					}
					position: relative;
					&:after {
						content: '';
						width: 2px;
						height: 82px;
						background-color: #075fe4;
						position: absolute;
						left: 7px;
						display: block;
						bottom: -48px;
					}
				}
			}
			&__left {
				width: 100%;
				display: flex;
				align-items: center;
				gap: 16px;

				@include mq.mobile {
					cursor: pointer;
				}

				&--dot {
					@include mq.desktop {
						display: none;
					}
					width: 16px;
					height: 16px;
					background-color: #075fe4;
					border-radius: 8px;
					min-width: 16px;
				}

				@include mq.desktop {
					justify-content: flex-end;
				}
				span {
					color: #fff;
					@include mq.desktop {
						text-align: right;
					}
					font-family:
						var(--font-open-sans),
						sans-serif;
					font-size: 18px;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
				}
			}

			&__center {
				display: none;
				@include mq.desktop {
					display: flex;
				}
				justify-content: center;
				align-items: center;
				&--content {
					display: flex;
					align-items: center;
					gap: 12px;
					position: relative;
					&-circle {
						width: 16px;
						height: 16px;
						background-color: #075fe4;
						border-radius: 8px;
					}
					&-line {
						height: 2px;
						width: 26px;
						background-color: #075fe4;
					}
				}
			}

			&__right {
				span {
					color: rgba(255, 255, 255, 0.5);
					@include mq.desktop {
						color: #fff;
					}

					@include mq.mobile {
						display: none;
					}
					font-family:
						var(--font-open-sans),
						sans-serif;
					font-size: 18px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;

					b {
						color: rgba(255, 255, 255, 0.5);
						@include mq.desktop {
							color: #fff;
						}
						font-family:
							var(--font-open-sans),
							sans-serif;
						font-size: 18px;
						font-style: normal;
						font-weight: 700;
						line-height: normal;
					}
				}

				p {
					color: rgba(255, 255, 255, 0.5);
					@include mq.desktop {
						color: #fff;
					}
					font-family:
						var(--font-open-sans),
						sans-serif;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;

					b {
						color: rgba(255, 255, 255, 0.5);
						@include mq.desktop {
							color: #fff;
						}
						font-family:
							var(--font-open-sans),
							sans-serif;
						font-size: 14px;
						font-style: normal;
						font-weight: 700;
						line-height: normal;
					}
				}
				&--chevron {
					display: none;
					@include mq.mobile {
						display: block;
					}
				}
			}
		}
	}

	&__education {
		border-radius: 8px;
		border: 1px solid #fff;
		width: 100%;
		max-width: 686px;

		&--content {
			padding: 24px;
			display: flex;
			align-items: center;
			gap: 64px;

			@include mq.mobile {
				flex-direction: column;
				gap: 8px;
				padding: 16px;
				align-items: flex-start;
			}

			&__value {
				display: flex;
				flex-direction: column;

				&--white {
					color: #fff;
					font-family:
						var(--font-open-sans),
						sans-serif;
					font-size: 24px;
					font-style: normal;
					font-weight: 700;
					line-height: normal;

					@include mq.mobile {
						font-size: 18px;
					}
				}
				&--gray {
					color: rgba(255, 255, 255, 0.5);
					font-family:
						var(--font-open-sans),
						sans-serif;
					font-size: 18px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
				}
			}

			&__green {
				color: #5cf6bf;
				font-family: var(--font-ubuntu-mono), monospace;
				font-size: 18px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}

			&__first {
				display: flex;
				flex-direction: column;
				gap: 16px;
			}

			&__middle {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;

				@include mq.mobile {
					width: 100%;
				}

				&--bar {
					height: 73px;
					width: 2px;
					background-color: rgba(255, 255, 255, 0.3);
					@include mq.mobile {
						height: 2px;
						width: 100%;
					}
				}
			}

			&__right {
				display: flex;
				flex-direction: column;
				gap: 16px;
				&--two {
					display: flex;
					gap: 16px;
				}
			}
		}
	}
}
