.sam-button {
	border: none;
	background-color: #075fe4;
	border-radius: 8px;
	color: #fff;
	font-family:
		Open Sans,
		sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	padding-inline: 0;
	padding-block: 0;
	padding: 8px 16px;
}
