@import 'src/shared/scss/_media-queries';

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	position: fixed;
	padding: 40px;
	z-index: 2;
	background: none;

	@include mobile {
		padding: 18px;
	}

	&__hamburger {
		display: block;
		@include desktop {
			display: none;
		}
	}

	&__home {
		cursor: pointer;
		@include mobile {
			width: 48px;
			height: 42px;
		}
	}

	&__pages {
		display: none;
		@include desktop {
			display: flex;
			align-items: center;
			gap: 32px;

			&--section {
				color: #fff;
				font-family:
					Open Sans,
					sans-serif;
				font-size: 18px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				cursor: pointer;
			}
		}
	}
}
