@import 'src/shared/scss/_media-queries';

.presentation {
	z-index: 10;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	scroll-snap-align: center;
	flex: none;
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
		both;
	animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	height: 100svh;
	width: 100%;
	@include desktop {
		height: calc(100vh - 32px);
	}

	@include tablet {
		max-width: 248px;
	}

	&__text {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 48px;
		gap: 24px;

		@include desktop {
			gap: 16px;
		}

		&--name {
			color: #feb3bc;
			text-align: center;
			font-family: 'Ubuntu Monospace', monospace;
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}

		&--description {
			color: #fff;
			text-align: center;
			font-family:
				Open Sans,
				sans-serif;
			font-style: normal;
			font-weight: 700;

			@include desktop {
				line-height: 64px;
				font-size: 48px;
			}

			@include tablet {
				font-size: 24px;
			}
		}

		&--button {
			padding: 0 32px;
		}
	}
}

@-webkit-keyframes scale-in-center {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
		opacity: 1;
	}
	50% {
		-webkit-transform: scale(0);
		transform: scale(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes scale-in-center {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
		opacity: 1;
	}
	50% {
		-webkit-transform: scale(0);
		transform: scale(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}
