@import 'src/shared/scss/_media-queries';

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 40px;
	height: 100svh;
	gap: 32px;
	scroll-snap-type: y mandatory;
	overflow-x: hidden;
	overflow-y: scroll;

	@include tablet {
		gap: 64px;
	}
}

.background-lottie {
	display: block;
	float: left;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	overflow: hidden;

	&__p-0 {
		rotate: 0deg;
		opacity: 1;
		left: -30%;
		transition: all 500ms;
	}

	&__p-1 {
		left: -30%;
		top: 10%;
		rotate: 0deg;
		transition: all 500ms;
	}

	&__p-2 {
		left: -100%;
		rotate: 90deg;
		opacity: 0;
		transition: all 500ms;
	}

	&__p-3 {
		left: -100%;
		rotate: -90deg;
		opacity: 0;
		transition: all 500ms;
	}

	&__p-4 {
		left: -100%;
		rotate: 90deg;
		opacity: 0;
		transition: all 500ms;
	}

	&__p-5 {
		rotate: 90deg;
		opacity: 1;
		left: -35%;
		top: 45%;
		transition: all 500ms;
	}

	&-2 {
		display: block;
		float: right;
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		overflow: hidden;
		transform: scaleX(-1);

		@include mobile {
			display: none;
		}

		&__p-0 {
			rotate: 0deg;
			opacity: 1;
			right: -30%;
			transition: all 500ms;
		}
		&__p-1 {
			right: -30%;
			top: 10%;
			transition: all 500ms;
		}
		&__p-2 {
			right: -100%;
			opacity: 0;
			transition: all 500ms;
		}
		&__p-3 {
			right: -100%;
			opacity: 0;
			transition: all 500ms;
		}
		&__p-4 {
			right: -100%;
			opacity: 0;
			transition: all 500ms;
		}
		&__p-5 {
			right: -100%;
			opacity: 0;
			transition: all 500ms;
		}
	}
}

.background {
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: fixed;
}
