@import 'src/shared/scss/_media-queries';

.my-experience {
	display: flex;
	z-index: 10;
	flex-direction: column;
	justify-content: center;
	max-width: 1260px;
	scroll-snap-align: center;
	flex: none;
	gap: 32px;
	width: 100%;
	height: 100svh;
	@include desktop {
		height: calc(100vh - 32px);
	}

	@include desktop {
		gap: 64px;
		width: auto;
	}

	&__top {
		display: flex;
		flex-direction: column;
		gap: 16px;
		text-align: center;
		&--title {
			color: #feb3bc;
			font-family: 'Ubuntu Monospace', monospace;
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
		}

		&--professional-journey {
			color: #fff;
			text-align: center;
			font-family:
				Open Sans,
				sans-serif;
			font-style: normal;
			font-weight: 800;
			line-height: normal;
			font-size: 24px;
			@include desktop {
				font-size: 48px;
			}
		}
	}

	&__section {
		&-1 {
			background-color: #075fe4;
			border-radius: 8px;
		}
		&-2 {
			background-color: #29313d;
			border-radius: 8px;
		}
		&--content {
			padding: 23px 32px;
			display: flex;
			flex-direction: column;
			gap: 24px;

			@include desktop {
				gap: 8px;
			}

			&__head {
				display: flex;
				flex-direction: column;
				gap: 4px;

				@include desktop {
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
				}
				&--left {
					display: flex;
					flex-direction: column;
					gap: 4px;

					@include desktop {
						flex-direction: row;
						align-items: center;
					}

					&__top {
						@include mobile {
							display: flex;
							justify-content: space-between;
						}
						@include tablet {
							display: flex;
							justify-content: space-between;
						}
						&--chevron {
							display: block;
							@include desktop {
								display: none;
							}
						}
					}

					&__company {
						@include desktop {
							padding-left: 8px;
							padding-right: 16px;
						}
						color: #fff;
						font-family:
							Open Sans,
							sans-serif;
						font-size: 18px;
						font-style: normal;
						font-weight: 700;
						line-height: normal;

						&-container {
							display: flex;
							align-items: center;
							gap: 8px;
							@include desktop {
								gap: 16px;
							}
						}
					}

					&__date {
						@include desktop {
							color: #fff;
							font-family:
								Open Sans,
								sans-serif;
							font-size: 18px;
							font-style: normal;
							font-weight: 700;
							line-height: normal;
						}
						color: #fff;
						font-family:
							Open Sans,
							sans-serif;
						font-size: 14px;
						font-style: normal;
						font-weight: 700;
						line-height: normal;
					}

					&__position {
						color: rgba(255, 255, 255, 0.6);
						font-family:
							Open Sans,
							sans-serif;
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
					}
				}
			}

			&__p-2 {
				color: #fff;
				font-family:
					Open Sans,
					sans-serif;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				text-align: left;

				@include desktop {
					display: none;
				}

				b {
					color: #fff;
					font-family:
						Open Sans,
						sans-serif;
					font-size: 16px;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
				}
			}

			&__paragraph {
				color: #fff;
				font-family:
					Open Sans,
					sans-serif;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				text-align: left;
				display: none;

				@include desktop {
					display: block;
				}

				b {
					color: #fff;
					font-family:
						Open Sans,
						sans-serif;
					font-size: 16px;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
				}
			}
		}
	}
}
