@import 'src/shared/scss/_media-queries';

.about-me {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 48px;
	max-width: 714px;
	scroll-snap-align: center;
	flex: none;
	height: 100svh;

	@include desktop {
		height: calc(100vh - 32px);
	}

	&__top {
		display: flex;
		flex-direction: column;
		gap: 16px;

		&--title {
			color: #f6c15c;
			font-family: 'Ubuntu Monospace', monospace;
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
		}

		&--frontend {
			color: #fff;
			font-family:
				Open Sans,
				sans-serif;
			font-style: normal;
			font-weight: 800;
			line-height: normal;
			font-size: 24px;
			@include desktop {
				font-size: 48px;
			}
		}

		&--description {
			color: #fff;
			font-family:
				Open Sans,
				sans-serif;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			b {
				font-weight: 700;
			}
		}
	}

	&__technologies {
		display: flex;
		flex-direction: column;
		gap: 16px;

		&--logos {
			display: flex;
			flex-wrap: wrap;
			gap: 32px;
			justify-content: center;

			&__img {
				width: 60px;
				height: 50px;

				@include desktop {
					width: 68px;
					height: 80px;
				}

				@include mobile {
					width: 32px;
					height: 28px;
				}
			}
		}
	}
}
